*{
    box-sizing: border-box;
}
body {
    font-family: "Nunito", sans-serif;
    background-color: rgba(39, 39, 152, 0.799);
}

.input{
    text-align: center;
    margin: 80px; 
}

input[type="text"]{
    height: 50px;
    width: auto;
    background: rgba(40, 46, 74, 0.833);
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    text-align: center;
    margin-top: 15px;
    margin:'auto';
}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background: rgb(96, 151, 173);
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}
.display{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.container{
    text-align: center;
    background-color: rgba(85, 101, 168, 0.833);
    width: 800px;
    border-radius: 5px;
    height: 675px;
    margin: auto;
}
.icon {
    font-size: 2rem;
} 

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  